DROP PROCEDURE IF EXISTS SLNSP_GETBULKINSERTDATA
/****** Object:  StoredProcedure [dbo].[SLNSP_GETBULKINSERTDATA]    Script Date: 01-May-25 3:42:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROCEDURE [dbo].[SLNSP_GETBULKINSERTDATA]
AS
BEGIN
 SET NOCOUNT ON; -- Helps to reduce network traffic and improve performance
 
	SELECT  
		FIRST_NAME
		,LAST_NAME
		,CLASS
		,ACADEMIC_YEAR
		,VILLAGE_NAME
		,MOBILE_NUM
		,GENDER
		,AADHAR_NUM
		,FATHER_NAME
		,MOTHER_NAME
		,SECTION
		,CASTE
		,DISCOUNT_AMOUNT
		,IS_HALF_FEE
		,IS_FREE_STUDENT
		,IS_FEE_CLEAR
		,DISCOUNT_DESCRIPTION
		,LST_UPATED_ID		
	FROM 
		SLN_ADMISIONS_STG
END;


/*
	exec SLNSP_GETBULKINSERTDATA
*/