/****** Object:  StoredProcedure [dbo].[SLNSP_COLLECTIONTYPEDETAILS]    Script Date: 25-Aug-24 2:28:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 DROP PROCEDURE SLNSP_COLLECTIONTYPEDETAILS;
 GO

CREATE PROCEDURE [dbo].[SLNSP_COLLECTIONTYPEDETAILS]
   
AS
BEGIN
 SET NOCOUNT ON; -- Helps to reduce network traffic and improve performance
 

  SELECT COLLECTION_TYPE
		FROM (
			SELECT 'ALL' AS COLLECTION_TYPE, 0 AS SortOrder
			UNION ALL
			SELECT DISTINCT COLLECTION_TYPE, 1 AS SortOrder
			FROM SLN_COLLECTION_TYPE_LKP
		) AS COLLECTION_TYPEData
		ORDER BY SortOrder, COLLECTION_TYPE DESC
			
END;

