<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SqlConnectionString" providerName="System.Data.sqlclient" connectionString= "Server=tcp:slnazuredbserver.database.windows.net,1433;Initial Catalog=SLNAZUREDB;Persist Security Info=False;User ID=slnadmin;Password=PurushothamM@786;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
 />
		
		<!--//Server=tcp:slndbserver.database.windows.net,1433;Initial Catalog=SLNDB;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Authentication="Active Directory Default";-->
	</connectionStrings>
</configuration>