/****** Object:  Table [dbo].[SLN_ADMISIONS]    Script Date: 28-Sep-24 11:58:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLN_ADMISIONS](
	[ADMISION_ID] [int] IDENTITY(1,1) NOT NULL,
	[FIRST_NAME] [varchar](50) NOT NULL,
	[LAST_NAME] [varchar](50) NULL,
	[CLASS] [varchar](10) NOT NULL,
	[ACADEMIC_YEAR] [varchar](10) NOT NULL,
	[VILLAGE_NAME] [varchar](150) NOT NULL,
	[MOBILE_NUM] [varchar](10) NULL,
	[GENDER] [varchar](10) NULL,
	[AADHAR_NUM] [varchar](12) NULL,
	[FATHER_NAME] [varchar](50) NULL,
	[MOTHER_NAME] [varchar](50) NULL,
	[SECTION] [varchar](5) NOT NULL,
	[CASTE] [varchar](10) NULL,
	[LST_UPDATED_TMSP] [datetime] NULL,
	[LST_UPATED_ID] [varchar](50) NULL,
 CONSTRAINT [PK_SLN_ADMISIONS] PRIMARY KEY CLUSTERED 
(
	[FIRST_NAME] ASC,
	[CLASS] ASC,
	[ACADEMIC_YEAR] ASC,
	[SECTION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SLN_ADMISIONS_STG]    Script Date: 28-Sep-24 11:58:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLN_ADMISIONS_STG](
	[FIRST_NAME] [varchar](50) NOT NULL,
	[LAST_NAME] [varchar](50) NULL,
	[CLASS] [varchar](10) NOT NULL,
	[ACADEMIC_YEAR] [varchar](10) NULL,
	[VILLAGE_NAME] [varchar](150) NOT NULL,
	[MOBILE_NUM] [varchar](10) NULL,
	[GENDER] [varchar](10) NULL,
	[AADHAR_NUM] [varchar](12) NULL,
	[FATHER_NAME] [varchar](50) NULL,
	[MOTHER_NAME] [varchar](50) NULL,
	[SECTION] [varchar](5) NULL,
	[CASTE] [varchar](10) NULL,
	[LST_UPDATED_TMSP] [datetime] NULL,
	[LST_UPATED_ID] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SLN_COLLECTION]    Script Date: 28-Sep-24 11:58:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLN_COLLECTION](
	[COLLECTION_ID] [int] IDENTITY(1,1) NOT NULL,
	[COLLECTION_TYPE] [varchar](50) NOT NULL,
	[DESCRIPTION] [varchar](max) NULL,
	[COLLECTION_AMOUNT] [int] NOT NULL,
	[ENTRY_DATE] [datetime] NULL,
	[IS_DELETED] [bit] NULL,
	[CORRECTED_AMOUNT] [int] NULL,
	[LST_UPDATED_TMSP] [datetime] NULL,
	[LST_UPATED_ID] [varchar](50) NULL,
 CONSTRAINT [PK_SLN_COLLECTION] PRIMARY KEY CLUSTERED 
(
	[COLLECTION_ID] ASC,
	[COLLECTION_TYPE] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SLN_COLLECTION_TYPE_LKP]    Script Date: 28-Sep-24 11:58:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLN_COLLECTION_TYPE_LKP](
	[COLLECTION_TYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[COLLECTION_TYPE] [varchar](100) NULL,
	[Description] [varchar](255) NULL,
	[LST_UPDATED_TMSP] [datetime] NULL,
	[LST_UPATED_ID] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[COLLECTION_TYPE_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SLN_EXPENSE]    Script Date: 28-Sep-24 11:58:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLN_EXPENSE](
	[EXPENSE_ID] [int] IDENTITY(1,1) NOT NULL,
	[EXPENSE_TYPE] [varchar](50) NOT NULL,
	[DESCRIPTION] [varchar](max) NULL,
	[EXPENSE_AMOUNT] [int] NOT NULL,
	[ENTRY_DATE] [datetime] NULL,
	[IS_DELETED] [bit] NULL,
	[EXP_CORRECTED_AMOUNT] [int] NULL,
	[LST_UPDATED_TMSP] [datetime] NULL,
	[LST_UPATED_ID] [varchar](50) NULL,
 CONSTRAINT [PK_SLN_EXPENSE] PRIMARY KEY CLUSTERED 
(
	[EXPENSE_ID] ASC,
	[EXPENSE_TYPE] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SLN_EXPENSE_TYPE_LKP]    Script Date: 28-Sep-24 11:58:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLN_EXPENSE_TYPE_LKP](
	[EXPENSE_TYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[EXPENSE_TYPE] [varchar](100) NULL,
	[Description] [varchar](255) NULL,
	[LST_UPDATED_TMSP] [datetime] NULL,
	[LST_UPATED_ID] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[EXPENSE_TYPE_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SLN_FEE]    Script Date: 28-Sep-24 11:58:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLN_FEE](
	[FEE_ID] [int] IDENTITY(1,1) NOT NULL,
	[FEE_TYPE] [varchar](50) NOT NULL,
	[STUDENT_NAME] [varchar](50) NULL,
	[FATHER_NAME] [varchar](50) NULL,
	[CLASS] [varchar](10) NOT NULL,
	[PAID_AMOUNT] [int] NOT NULL,
	[VILLAGE_NAME] [varchar](150) NOT NULL,
	[PAID_DATE] [datetime] NULL,
	[ACADEMIC_YEAR] [varchar](10) NULL,
	[SECTION] [varchar](10) NOT NULL,
	[BILL_NUMBER] [varchar](50) NULL,
	[MOBILE_NUM] [varchar](10) NULL,
	[GENDER] [varchar](10) NULL,
	[DESCRIPTION] [varchar](250) NULL,
	[IS_DELETED] [bit] NULL,
	[CORRECTED_AMOUNT] [int] NULL,
	[ADMISSION_ID] [int] NULL,
	[LST_UPDATED_TMSP] [datetime] NULL,
	[LST_UPATED_ID] [varchar](50) NULL,
 CONSTRAINT [PK_SLN_FEE] PRIMARY KEY CLUSTERED 
(
	[FEE_ID] ASC,
	[FEE_TYPE] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SLN_FEETYPE_LKP]    Script Date: 28-Sep-24 11:58:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLN_FEETYPE_LKP](
	[FEETYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[FEE_TYPE] [varchar](50) NULL,
	[DESCRIPTION] [varchar](max) NULL,
	[LST_UPDATED_TMSP] [datetime] NULL,
	[LST_UPATED_ID] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SLN_VILLAGE_LKP]    Script Date: 28-Sep-24 11:58:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLN_VILLAGE_LKP](
	[VILLAGE_ID] [int] IDENTITY(1,1) NOT NULL,
	[VILLAGE_NAME] [varchar](200) NULL,
	[LST_UPDATED_TMSP] [datetime] NULL,
	[LST_UPATED_ID] [varchar](50) NULL
) ON [PRIMARY]
GO
